.heading1{
    color:red;
}
.heading4{
    background: #ddd;
    border : 1px solid red;
    padding : 5px 10px
}
.heading3{
    background: blueviolet;
    border : 1px solid burlywood;
    padding :2px 5px
}
div{
    background:rgb(245, 244, 244) ;
}
#bg-img{
    background-image:url("../tree-736885__480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.font{
    font-weight : bold;
    font-size:30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.box-model{
    height: 100px;
    margin:30px;
    width:100px;
    padding:30px;
    border:1px solidred;
    background: #fff;
    text-align: center;

}
 .formatting-text {
     text-align:center;
     text-transform:uppercase;
 }
 .formatting-text a{
     text-decoration: none;
 }
 .floating-text{
     float:right;
     float:none;
 }
 .floatleft{
     float:left;
 }
 .floatright{
     float:right;
 }
 .width50{
     width:50%;
 }